In [383]:
import pandas
import numpy as np
import pandas as pd
data = pandas.read_csv('record_2019-01-01.csv')
data=np.array(data[0:500000])
print("shape date=",data.shape)

shape date= (500000, 7)

In [384]:
new_data=pd.DataFrame()
for j in range (len(data)):
    #print("j",j)
    for i in range(j+1,len(data)):
        #print("i",i)
        if data[j,5]==data[i,5]:
            print("j=",j,"i=",i,data[j,4],data[i,4])
            new_data=new_data.append([data[j,:],data[i,:]])
            data=np.delete(data, i, 0)
            break
#print(len(data['userID'].unique()))
print(new_data.head(5))

for i in range (0,len(new_data), 2):
    for j in range(len(data)):
        if new_data.iloc[i,5]==data[j,5]:
            data=np.delete(data, j, 0)
            break
print(data.shape)

j= 0 i= 6 0 1
j= 1 i= 3 1 0
j= 2 i= 184 0 1
j= 5 i= 140 0 1
j= 7 i= 53298 1 0
j= 8 i= 11 1 0
j= 9 i= 113667 1 0
j= 10 i= 17 1 0
j= 11 i= 122435 1 0
j= 12 i= 17 1 0
j= 13 i= 15 1 0
j= 14 i= 25 1 0
j= 15 i= 297 0 1
j= 16 i= 27 1 0
j= 17 i= 18 1 0
j= 18 i= 23 1 0
j= 19 i= 24 1 0
j= 20 i= 103 1 0
j= 21 i= 101 1 0
j= 22 i= 101 1 0
j= 23 i= 29 1 0
j= 24 i= 8477 1 1
j= 25 i= 8487 1 1
j= 26 i= 8426 1 1
j= 27 i= 3490 1 1
j= 28 i= 30 1 0
j= 29 i= 30 1 0
j= 30 i= 31 1 0
j= 32 i= 34 0 1
j= 33 i= 36 1 0
j= 34 i= 50 1 0
j= 35 i= 92 1 0
j= 36 i= 52 1 0
j= 37 i= 187910 1 0
j= 38 i= 49 1 0
j= 39 i= 50 1 0
j= 40 i= 224 1 0
j= 41 i= 55 1 0
j= 42 i= 52 1 0
j= 43 i= 111 1 0
j= 44 i= 111 1 0
j= 45 i= 109 1 0
j= 46 i= 81 1 0
j= 47 i= 109 1 0
j= 48 i= 109 1 0
j= 49 i= 108 1 0
j= 50 i= 88909 1 0
j= 51 i= 111977 1 0
j= 52 i= 53 1 0
j= 53 i= 64 1 0
j= 54 i= 77 1 0
j= 55 i= 76 1 0
j= 56 i= 73 1 0
j= 57 i= 64 1 0
j= 58 i= 99 1 0
j= 59 i= 99 1 0
j= 60 i= 99 1 0
j= 61 i= 67 1 0
j= 62 i= 85 1 0
j= 63 i= 69 1 0
j= 64 i= 78 1 0
j= 65 i= 66 0 1
j= 66 i= 131 0 1
j= 67 i= 173 0 1
j= 68 i= 80 1 0
j= 69 i= 73 1 0
j= 70 i= 231182 1 1
j= 71 i= 72 1 0
j= 72 i= 78 1 0
j= 73 i= 75 1 0
j= 74 i= 79 1 0
j= 75 i= 76 1 0
j= 76 i= 83 1 0
j= 77 i= 83 1 0
j= 78 i= 80 1 0
j= 79 i= 82 1 0
j= 80 i= 81 1 0
j= 82 i= 83 1 0
j= 83 i= 84 1 0
j= 84 i= 87 1 0
j= 85 i= 88 1 0
j= 86 i= 8359 1 1
j= 87 i= 91 1 0
j= 88 i= 90 1 0
j= 89 i= 90 0 1
j= 90 i= 92 1 0
j= 91 i= 97 1 0
j= 92 i= 93 1 0
j= 93 i= 126 1 0
j= 94 i= 114 1 0
j= 95 i= 114 1 0
j= 96 i= 115 1 0
j= 97 i= 120 1 0
j= 98 i= 127 1 0
j= 99 i= 119 1 0
j= 100 i= 127 1 0
j= 101 i= 119 1 0
j= 102 i= 125 1 0
j= 103 i= 124 1 0
j= 104 i= 59907 1 0
j= 105 i= 10147 1 1
j= 106 i= 9822 0 1
j= 107 i= 151 1 0
j= 108 i= 100632 1 0
j= 109 i= 132 1 0
j= 110 i= 183970 1 0
j= 111 i= 79433 0 1
j= 112 i= 117 0 1
j= 113 i= 150 1 0
j= 114 i= 123 1 0
j= 115 i= 130397 0 1
j= 116 i= 140359 0 0
j= 117 i= 144508 0 1
j= 118 i= 119374 0 0
j= 119 i= 132001 0 0
j= 120 i= 200 0 1
j= 121 i= 152 1 0
j= 122 i= 152 1 0
j= 123 i= 177 1 0
j= 124 i= 159 1 0
j= 125 i= 168 1 0
j= 126 i= 152 1 0
j= 127 i= 151 1 0
j= 128 i= 131 1 0
j= 129 i= 2091 0 1
j= 130 i= 165 1 0
j= 131 i= 152 1 0
j= 132 i= 159 1 0
j= 133 i= 152 1 0
j= 134 i= 156 1 0
j= 135 i= 151 1 0
j= 136 i= 159 1 0
j= 137 i= 158 1 0
j= 138 i= 154 1 0
j= 139 i= 151 1 0
j= 140 i= 151 1 0
j= 141 i= 144 1 0
j= 142 i= 145 0 1
j= 143 i= 149 1 0
j= 144 i= 148 1 0
j= 145 i= 93634 0 1
j= 146 i= 154 1 0
j= 147 i= 152 1 0
j= 148 i= 159 1 0
j= 149 i= 37777 1 0
j= 150 i= 93748 0 1
j= 151 i= 155 1 0
j= 152 i= 153 1 0
j= 153 i= 163 0 1
j= 154 i= 157 1 0
j= 156 i= 159 1 0
j= 157 i= 191 0 1
j= 158 i= 160 1 0
j= 159 i= 160 1 0
j= 160 i= 171 1 0
j= 161 i= 165 0 1
j= 162 i= 92886 1 0
j= 163 i= 53363 1 0
j= 164 i= 90230 1 0
j= 165 i= 174 1 0

KeyboardInterrupt:

In [373]:
new_data

,time,lineID,stationID,deviceID,status,userID,payType
0,2019-01-01 02:00:05,B,27,1354,0,D13f76f42c9a677c4add94d9e480fb5c5,3
6,2019-01-01 02:04:45,B,27,1354,1,D13f76f42c9a677c4add94d9e480fb5c5,3
1,2019-01-01 02:01:40,B,5,200,1,D9a337d37d9512184b8e3fd477934b293,3
3,2019-01-01 02:02:38,B,5,235,0,D9a337d37d9512184b8e3fd477934b293,3
2,2019-01-01 02:01:53,B,5,247,0,Dc9e179298617f40b782490c1f3e2346c,3
...,...,...,...,...,...,...,...
386,2019-01-01 05:41:39,C,41,1921,0,Dc1a9833ea40a4be1247e2ce554b6e418,3
393,2019-01-01 05:42:00,C,38,1794,1,D13eadc1f962056a91d6795995ba4cdff,3
453,2019-01-01 05:43:24,C,38,1803,0,D13eadc1f962056a91d6795995ba4cdff,3
438,2019-01-01 05:43:00,B,33,1596,1,D68fa9186beeddbee507c251378de121f,3
444,2019-01-01 05:43:09,B,33,1597,0,D68fa9186beeddbee507c251378de121f,3

In [374]:
for i in range (0,len(new_data), 2):
    for j in range(len(data)):
        if new_data.iloc[i,5]==data.iloc[j,5]:
            data = data.drop(data.index[j],axis=0)
            break

In [375]:
data

,time,lineID,stationID,deviceID,status,userID,payType
4,2019-01-01 02:03:42,B,23,1198,0,Dd1cde61886c23fdb7ef1fdb76c9b1234,3
5,2019-01-01 02:04:11,B,3,109,0,D7a8fc96cbc11e5df389aa45a62870a48,3
8,2019-01-01 02:05:20,B,23,1198,0,Db5682ca9db937733e95db27b959e62a1,3
9,2019-01-01 02:05:34,B,20,1036,1,D01d6584e23de32f8225c756f4c3add76,3
11,2019-01-01 02:05:39,B,20,1037,1,D49e8e27df37b8e9a764c3984b6b5af7a,3
...,...,...,...,...,...,...,...
495,2019-01-01 05:44:08,B,9,474,1,Bf58a2641b7715ef5f7f77ca7d1e98622,1
496,2019-01-01 05:44:12,B,9,474,1,B987e50fab62417def63755c4debf3b27,1
497,2019-01-01 05:44:12,B,7,350,0,D05d5d795df4defe3236747a510e2b817,3
498,2019-01-01 05:44:13,B,2,75,1,C8b323b493c6c1428726e090d731043a0,2
499,2019-01-01 05:44:13,C,66,3068,1,D716db5ffe714dd88ed0b0ed4040c37d8,3

In [42]:
import numpy as np
data_feat = np.zeros((7), dtype=np.int)
data_feat[int(2)] = 1
data_feat

array([0, 0, 1, 0, 0, 0, 0])

In [51]:
a=np.reshape(data_feat, (7))
a

array([0, 0, 1, 0, 0, 0, 0])

In [33]:
a.shape

(10, 7)

In [35]:
HEADER_FEAT = ['block', 'stationID', 'status', 'payType', 'weekDay', 'flow']
if 'holiday' in HEADER_FEAT:
    print('1')

In [48]:
for i in range(0,10 ,2):
    print(i)

0
2
4
6
8